@model StokUygulamasıMVC.Models.Entity.KATEGORILER

@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.KATEGORIAD, "", new { @style = "color:red" })
        <div>
            <button class="btn btn-info">Kategori ekle</button>
        </div>
</form>

